/*--TAGS----------------------------------------------------*/
a{
  color:  #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px 0;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #ffffff;

}
body{
  margin:0 0 0 0;
  background-color: #f5f5f5;
  text-align:center;
  font-family: "Merriweather",sans-serif;
}
hr{
  border-color: #7c3c21;
  border-style: none;
  border-top-style: dotted;
  border-width:10px;
  width: 10%;

}
h1{
  color:#66BFBF;
  font-size: 5.625rem;
  width:auto;
  font-family: 'Sacramento', cursive;
  margin:100px auto 0 auto;
}
h2{
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
img:hover{
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
  transform: scale(1.05);
}
p{
  line-height:2;
}
/*--CLASS----------------------------------------------------*/

.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:300px;
}
.bottom-container{
  background-color:#66BFBF;
  color:#EAF6F6;
  padding: 50px 0 20px;
}
.btn{
  background-color: #11cdd4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Merriweather",sans-serif;
}
.btn:hover{
  background-color: #30e3cb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Merriweather",sans-serif;
}
.copyright{
  font-size:0.75rem;
  padding: 20px 0;
}
.contact-message{
  width:40%;
  margin:40px auto 60px;
}
.intro{
  width:30%;
  margin:0 auto 100px auto;

}

.middle-container{
  margin:100px 0;
}
.pro{
  text-decoration: underline;
}
.profile-pic{
  border-radius:100%;
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
  transform: scale(1.2);
}

.skill-logos{
  width:30%;
  height:25%;
  float:left;
  margin-right:30px;
}
.skill-logos-even{
  width:25%;
  height:15%;
  float:right;
  margin-right:30px;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;


}
.top-cloud{
  position: absolute;

  right:300px;
  top:100px;
}
.top-container{
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;



}
